@using BugFixer.Application.Extensions;
@model List<BugFixer.Application.ViewModels.Questions.QuestionVM>
@{
    Layout = "_SecondLayout";
}
<div class="user-page-style">

    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> پرسش های javascript </span></a></li>
            </ul>
        </div>
    </div>

    <div class="tags-page page-style">

        <div class="container">
            <!-- questions -->
            <div class="questions-layer">
                <!-- Top -->
                <div class="top-layer">
                    <a href="/submit-question" class="linkbutton blue"> ثبت پرسش جدید </a>
                    <div class="filter-layer">
                        <form action="" method="">
                            <div class="select-layer">
                                <select>
                                    <option> جدیدترین پرسش ها </option>
                                    <option> پربحث ترین پرسش ها </option>
                                    <option> پرامتیازترین پرسش ها </option>
                                    <option> پرسش های یک هفته اخیر  </option>
                                    <option> پرسش های یک ماه اخیر  </option>
                                </select>
                            </div>
                            <button><i class="icon-sort"></i></button>
                        </form>
                    </div>
                </div>
                <!-- /Top -->
                <!-- questions list -->
                <div class="questions-list">
                    @{
                        if(Model.Count != 0 && Model  != null)
                        {
                            foreach (var item in Model)
                            {
                                <article class="answered">
                                    <h2><a href="/show-question/@item.Id">@item.Title</a></h2>
                                    <span> @item.Answers.Count() <i class="icon-comment-1"></i> </span>
                                    <ul>
                                        <li> پرسیده شده توسط  <a href="">  @item.User.UserName </a> @item.CreateDate.TimeAgo()</li>
                                        @if (item.Answers.Any())
                                        {
                                            <li> آخرین پاسخ توسط <a href=""> @item.Answers.FirstOrDefault().User.UserName </a>@item.Answers.FirstOrDefault().CreateDate.TimeAgo() </li>
                                        }
                                        else
                                        {
                                            <li>
                                                بدون پاسخ
                                            </li>
                                        }
                                    </ul>
                                    <div class="detail">
                                        <div class="tags-layer">
                                            @foreach (var tag in item.QuestionTags)
                                            {
                                                <a href=""> @tag.Tag </a>
                                            }

                                        </div>
                                        <div class="left-side">
                                            <span> @item.Rate <i class="icon-star"></i> </span>
                                            <span> @item.Visit <i class="icon-eye"></i> </span>
                                        </div>
                                    </div>
                                </article>
                            }
                        }
                        else
                        {
                            <div  class="alert alert-warning">نتیجه ای یافت نشد.</div>
                        }
                    }
                </div>
                <!-- /questions list -->
            </div>
            <!-- /questions -->
            <!-- aside -->
            <aside>

                <!-- most popular post -->
                <section class="most-popular-questions">

                    @await Component.InvokeAsync("MostRateQuestions")
                    @await Component.InvokeAsync("TopQuestions")

                </section>
                <!-- /most popular post -->
                <!-- most controversial tags -->
                <section class="most-controversial-tags">
                    <header><h2> پر بحث ترین تگ ها </h2></header>
                    @await Component.InvokeAsync("MostDiscussedQuestionTags")
                </section>
                <!-- /most controversial posts -->
                <!-- banner -->
                <div class="banner-layer">
                    <a href=""><img src="images/banner.jpg"></a>
                </div>
                <!-- /banner -->
                <!-- banner -->
                <div class="banner-layer">
                    <a href=""><img src="images/banner-2.jpg"></a>
                </div>
                <!-- /banner -->

            </aside>
            <!-- /aside -->
            <div class="clearfix"></div>
        </div>
    </div>
