@model BugFixer.Application.ViewModels.Questions.FilterQuestionVM
@using BugFixer.Application.Extensions;
<!-- item -->
@foreach (var item in Model.Entities)
{
    <article class="answered">
        <h2><a href="/show-question/@item.Id">@item.Title</a></h2>
        <span> @item.Answers.Count() <i class="icon-comment-1"></i> </span>
        <ul>
            <li> پرسیده شده توسط  <a href="">  @item.User.UserName </a> @item.CreateDate.TimeAgo()</li>
            @if (item.Answers.Any())
            {
                <li> آخرین پاسخ توسط <a href=""> @item.Answers.FirstOrDefault().User.UserName </a>@item.Answers.FirstOrDefault().CreateDate.TimeAgo() </li>
            }
            else
            {
                <li>
                    بدون پاسخ
                </li>
            }
        </ul>
        <div class="detail">
            <div class="tags-layer">
                @foreach (var tag in item.QuestionTags)
                {
                    <a href=""> @tag.Tag </a>
                }

            </div>
            <div class="left-side">
                <span> @item.Rate <i class="icon-star"></i> </span>
                <span> @item.Visit <i class="icon-eye"></i> </span>
            </div>
        </div>
    </article>
}
<!-- /item -->