@using BugFixer.Application.Extensions;
@using BugFixer.Application.ViewModels.User;

@model BugFixer.Application.ViewModels.User.FilterUsersViewModel

@{
    ViewData["Title"] = "مدیریت کاربران";
    string usernameFilterBag = ViewBag.UserNameFilter as string;
    int takeEntityFilterBag = (int)ViewBag.TakeEntityFilter;
}

@section FooterRefrences{
    <script src="/Admin/dist/js/custom.js"></script>

    <script>
        const handleTakeEntityFilter = () => {
            const form = document.getElementById("TakeEntityFilterForm");

            form.submit();
        }
    </script>
}

<section class="content-header">
    <h1>
        عنوان صفحه
        <small>توضیحات</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">صفحه</li>
        <li class="active">لیست کاربران</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">لیست کاربران</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length" id="example1_length">
                                    <form asp-area="Admin" asp-controller="User" asp-action="Index" method="get" id="TakeEntityFilterForm">
                                        <input type="hidden" value="@Model.Page" name="pageId" />
                                        <input type="hidden" value="@usernameFilterBag" name="userNameFilter" />
                                        <label>
                                            تعداد نمایش
                                            <select name="takeEntityFilter" aria-controls="example1" class="form-control input-sm" onchange="handleTakeEntityFilter()">
                                                <option value="10" selected="@((takeEntityFilterBag==10)?true:false)">10</option>
                                                <option value="25" selected="@((takeEntityFilterBag==25)?true:false)">25</option>
                                                <option value="50" selected="@((takeEntityFilterBag==50)?true:false)">50</option>
                                                <option value="100" selected="@((takeEntityFilterBag==100)?true:false)">100</option>
                                            </select>
                                        </label>
                                   </form>
                                </div>
                            </div>
                            <form asp-area="Admin" asp-controller="User" asp-action="Index" method="get" id="filter-search" class="d-flex" >
                                <input type="hidden" value="@Model.Page" name="pageId" />
                                <input type="hidden" value="@takeEntityFilterBag" name="takeEntityFilter" />
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <label>
                                            جستجو:<input type="search" name="userNameFilter" class="form-control input-sm" placeholder="" aria-controls="example1">
                                        </label>
                                        <button type="submit" class="btn btn-primary btn-sm">اعمال</button>
                                    </div>
                                </div>
                          </form>
                        </div>

                        <div>
                            <a href="/admin/create-user"  class="btn bg-navy margin"> افزودن <i class="fa fa-plus-square-o"></i></a>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور رندر: activate to sort column descending" style="width: 178.238px;">
                                                ردیف
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="مرورگر: activate to sort column ascending" style="width: 334.075px;">
                                                نام کاربری

                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="سیستم عامل: activate to sort column ascending" style="width: 91.2375px;">
                                                وضعیت

                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="ورژن: activate to sort column ascending" style="width: 91.2375px;">

                                                تاریخ ایجاد

                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="ورژن: activate to sort column ascending" style="width: 320.888px;">
                                                عملیات
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Entities.Count(); i++)
                                        {
                                            <tr role="row" class=@((i%2==0)?"even":"odd")>
                                                <td class="sorting_1">@(i + 1)</td>
                                                <td>@Model.Entities[i].UserName</td>
                                                @if (Model.Entities[i].EmailConfirm)
                                                {
                                                    <td>
                                                        <span class="label label-success">فعال </span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td> 
                                                        <span class="label label-danger">غیر فعال </span>
                                                    </td>
                                                }
                                                <td>@Model.Entities[i].CreateDate.ToShamsi()</td>
                                                <td class="">
                                                            <a href="/admin/show-user/@Model.Entities[i].Id" class="btn btn-warning btn-xs ">
                                                        نمایش
                                                    </a>
                                                        <a href="/admin/update-user/@Model.Entities[i].Id" class="btn  btn-primary btn-xs">
                                                        ویرایش
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- pagination -->
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to @Model.TakeEntity of @Model.Entities.Count entries</div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        @for (int i = Model.GetCurrentPaging().StartPage; i <= @Model.GetCurrentPaging().EndPage; i++)
                                        {
                                            if (@Model.GetCurrentPaging().Page == i)
                                            {
                                                <li class="paginate_button active">
                                                    <a class="page-link cursor-pointer" data-page="0" href="/admin/user-list?pageId=@i&UserNameFilter=@usernameFilterBag&takeEntityFilter=@takeEntityFilterBag">@i</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="paginate_button ">
                                                    <a class="page-link cursor-pointer" data-page="0" href="/admin/user-list?pageId=@i&UserNameFilter=@usernameFilterBag&takeEntityFilter=@takeEntityFilterBag">@i</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /pagination -->
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



