@using BugFixer.Application.Extensions;
@model BugFixer.Application.ViewModels.Questions.FilterQuestionVM;

@{
    ViewData["Title"] = "صفحه اصلی";
    string currentOrderType = ViewBag.OrderType as string;
    string test = "ali";
}
@section Landing
    {
    <partial name="_LandingSection" />

    <script>
        const handleOrderTypeFilter = () => {
            const form = document.getElementById("OrderTypeFilterForm");

            form.submit();
        }
    </script>
}

<div class="questions-layer">
    <!-- Top -->
    <div class="top-layer">
        <a href="/submit-question" class="linkbutton blue"> ثبت پرسش جدید </a>
        <div class="filter-layer">
            <form asp-controller="Home" asp-action="Index" method="get" id="OrderTypeFilterForm">
                <input type="hidden" value="@Model.Page" name="pageId" />
                <div class="select-layer">
                    <select name="orderType" onchange="handleOrderTypeFilter()">
                        <option value="New" selected="@((currentOrderType=="New")?true:false)"> جدیدترین پرسش ها </option>
                        <option value="MostControversial" selected="@((currentOrderType=="MostControversial")?true:false)"> پربحث ترین پرسش ها </option>
                        <option value="MostOutstanding" selected="@((currentOrderType=="MostOutstanding")?true:false)"> پرامتیازترین پرسش ها </option>
                        <option value="WeekAgo" selected="@((currentOrderType=="WeekAgo")?true:false)"> پرسش های یک هفته اخیر  </option>
                        <option value="MonthAgo" selected="@((currentOrderType=="MonthAgo")?true:false)"> پرسش های یک ماه اخیر  </option>
                    </select>
                </div>
               @* <button><i class="icon-sort"></i></button> *@
            </form>
        </div>
    </div>
    <!-- /Top -->
    <!-- questions list -->
    <div class="questions-list">
        <!-- item -->
         @foreach (var item in Model.Entities)
        {
            <article class="answered">
                <h2><a href="/show-question/@item.Id">@item.Title</a></h2>
                <span> @item.Answers.Count() <i class="icon-comment-1"></i> </span>
                <ul>
                    <li> پرسیده شده توسط  <a href="">  @item.User.UserName </a> @item.CreateDate.ToShamsi()</li>
                    @if (item.Answers.Any())
                    {
                        <li> آخرین پاسخ توسط <a href=""> @item.Answers.FirstOrDefault().User.UserName </a>@item.Answers.FirstOrDefault().CreateDate.ToShamsi()</li>
                    }
                    else
                    {
                        <li>
                            بدون پاسخ
                        </li>
                    }
                </ul>
                <div class="detail">
                    <div class="tags-layer">
                        @if (item.QuestionTags != null)
                        {
                            @foreach (var tag in item.QuestionTags)
                            {
                                <a href=""> @tag.Tag </a>
                            }
                        }

                    </div>
                    <div class="left-side">
                        <span> @item.QuestionRates.Count() <i class="icon-star"></i> </span>
                        <span> @item.Visit <i class="icon-eye"></i> </span>
                    </div>
                </div>
            </article>
        } 

        <!-- /item -->


       

    </div>
    <!-- /questions list -->
    <!-- pagination -->
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to @Model.TakeEntity of @Model.Entities.Count entries</div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination">
                    @for (int i = Model.GetCurrentPaging().StartPage; i <= @Model.GetCurrentPaging().EndPage; i++)
                    {
                        if (@Model.GetCurrentPaging().Page == i)
                        {
                            <li class="paginate_button active">
                                <a class="page-link cursor-pointer" data-page="0" href="/Home/Index?pageId=@i&orderType=@currentOrderType">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="paginate_button ">
                                <a class="page-link cursor-pointer" data-page="0" href="/?pageId=@i&orderType=@currentOrderType">@i</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- /pagination -->


</div>



@section SideBar{
    <partial name="_SideBar" />
        }

