@model BugFixer.Application.ViewModels.User.FilterUsersPageVM
@{
    ViewData["Title"] = "users-page";
    string usernameFilter = ViewBag.UserNameFilter as string;
    string ordertypeFilter = ViewBag.OrderTypeFilter as string;
}

<div class="user-page-style">
    
    
    <div class="breadcumb-layer">
        <div class="container">
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> باگ فیکسر </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item"><span itemprop="name"> کاربران </span></a></li>
            </ul>
        </div>
    </div>

    <div class="users-list page-style">
        <div class="container">
            <div class="right-col">
                <header class="top-heading">
                    <h1><a href=""> مشاهده تمامی کاربر ها </a></h1>
                    <span> <i>@Model.Entities.Count </i> کاربر ثبت شده  </span>
                </header>
                <!-- Top -->
                <div class="top-layer">
                    <form asp-controller="Home" asp-action="UsersPage" method="get" class="search-layer">

                        <input type="hidden" value="@Model.Page" name="pageId" />
                        <input type="hidden" value="@ordertypeFilter" name="OrderType" />
                

                        <input type="text" id="UserNameFilterInput" value="@usernameFilter" name="userNameFilter" placeholder="دنبال چه کاربری میگردی ؟ ">

                        <button type="submit"><i class="icon-search"></i></button>
                    </form>
                    <div class="filter-layer">
                        <form asp-controller="Home" asp-action="UsersPage" method="get" id="OrderFilterForm" >
                            <input type="hidden" value="@Model.Page" name="pageId" />
                            <input type="hidden" value="@usernameFilter" name="UserNameFilter" />

                            <div class="select-layer">
                                <select id="OrderByFilter"  onchange="handlOrderTypeFilter(event)" name="OrderType" >
                                    <option value="New" selected="@((ordertypeFilter=="New")?true:false)"> کاربران جدید </option>
                                    <option value="MostRatedUsers" selected="@((ordertypeFilter=="MostRatedUsers")?true:false)"> امتیازآورترین کاربران </option>
                                    <option value="MostScoringQuestioners" selected="@((ordertypeFilter=="MostScoringQuestioners")?true:false)"> امتیازآورترین پرسش کنندگان </option>
                                </select>
                            </div>
                            @* <button><i class="icon-sort"></i></button> *@
                        </form>
                    </div>
                </div>
                <!-- /Top -->
                <!-- users layer -->
                <div class="users-list-layer">
                    <div class="row">
                        <!-- item -->
                        @foreach (var item in Model.Entities)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 user-col">
                                <article>
                                    <a href="" class="img-layer"><img src="/images/UsersAvatar/@item.Avatar"></a>
                                    <div class="left-col">
                                        <h2><a href=""> @item.UserName</a></h2>
                                        <span class="address"> <a href=""> ایران </a> , <a href=""> تهران </a> </span>
                                        <p class="statistics"><span><i> @item.Answers.Count </i> پرسش </span><span><i>@item.Questions.Count </i> پاسخ </span></p>
                                        <p class="skills">
                                            @if (item.Resume != null && item.Resume.ResumeSkills != null)
                                            {
                                                @foreach (var skil in item.Resume.ResumeSkills)
                                                {
                                                    <a href=""> @skil.SkillTitle </a>
                                                }
                                            }
                                        </p>
                                    </div>
                                </article>
                            </div>
                        }
                        <!-- /item -->
                    </div>
                </div>
                <!-- /users layer -->
                <!-- pagination -->
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to @Model.TakeEntity of @Model.Entities.Count entries</div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                <ul class="pagination">
                                    @for (int i = Model.GetCurrentPaging().StartPage; i <= @Model.GetCurrentPaging().EndPage; i++)
                                    {
                                        if (@Model.GetCurrentPaging().Page == i)
                                        {
                                            <li class="paginate_button active">
                                            <a class="page-link cursor-pointer" data-page="0" href="/users-page?pageId=@i&UserNameFilter=@usernameFilter&OrderType=@ordertypeFilter">@i</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button ">
                                            <a class="page-link cursor-pointer" data-page="0" href="/users-page?pageId=@i&UserNameFilter=@usernameFilter&OrderType=@ordertypeFilter">@i</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                <!-- /pagination -->
            </div>
            <!-- aside -->
            @section SideBar{
                <partial name="_SideBar" />
            }
            <!-- /aside -->
        </div>
    </div>
</div>
@section Landing{
    <script>
        const handlePaginateHref = ( pageId) => {
            // window.location.href = `https://localhost:44384/users-page?OrderType=${orderType}&userNameFilter=${userName}&pageid=${pageId}`;
            window.location.href = `https://localhost:44384/users-page?pageid=${pageId}`;
        }
        const handlOrderTypeFilter = (e) => {
            const filterText = e.target.value;
            $("#OrderFilterForm").trigger("submit");

            // $.ajax({
            //     type: "GET",
            //     data: {
            //         "OrderType": filterText,
            //         "pageId": @Model.Page
            //     },
            //     dataType: 'json',
            //     url: `/users-page/${filterText}/${@Model.Page}`,
            //     success: function (response) {
            //         if (response.status == "success") {

            //             alert("salam")
            //         }
            //     },

            // });
        }
        // function handleOrderTypeFilterForm(e) {
        //     e.preventDefault();
        // }
    </script>
}





